h1{
    color: firebrick;
    font-size: xx-large;

}

p{
    color: olivedrab;
    background-color: blue;
}
img {
    border: 2px solid white;
    border-radius: 10px;
}
ul{
    text-decoration: wavy;
    color: cornflowerblue;
    background-color: brown;
}
li{
    text-decoration: wavy;
}